RenderSDK/Bin/
Library/
Samples/Bin/
Samples/SceneVoxelization/Win32/
Samples/SceneVoxelization/Shaders/
Samples/HelloRectangle/Win32/
Samples/HelloRectangle/Shaders/
Samples/ToneMapping/Win32/
Samples/ToneMapping/Shaders/
*.db
*.opendb
*.opensdf
*.sdf
*.suo
*.user
