RenderSDK/Bin/
RenderSDK/x64/
Library/
Samples/Bin/
Samples/DynamicGI/Win32/
Samples/DynamicGI/x64/
Samples/DynamicGI/Shaders/
Samples/HelloRectangle/Win32/
Samples/HelloRectangle/x64/
Samples/HelloRectangle/Shaders/
Samples/ToneMapping/Win32/
Samples/ToneMapping/x64/
Samples/ToneMapping/Shaders/
*.db
*.opendb
*.opensdf
*.sdf
*.suo
*.user
ipch/
.vs/
Include/External/DirectXTex/Bin/
*.dll
Samples/DXR_HelloTriangle/x64/
Samples/DXR_HelloTriangle/Shaders/VisualizeTexturePS.hlsl
Samples/DXR_HelloTriangle/Shaders/FullScreenTriangleVS.hlsl
Samples/DXR_HelloTriangle/Shaders/GammaCorrection.hlsl
Samples/DXR_HelloTriangle/Shaders/RayTracingUtils.hlsl
Samples/DXR_Experiments/x64/
Samples/DXR_Experiments/Shaders/FullScreenTriangleVS.hlsl
Samples/DXR_Experiments/Shaders/GammaCorrection.hlsl
Samples/DXR_Experiments/Shaders/VisualizeTexturePS.hlsl
Samples/DXR_Experiments/Shaders/RayTracingUtils.hlsl
