RenderSDK/Bin/
Library/
Samples/Bin/
Samples/DynamicGI/Win32/
Samples/DynamicGI/Shaders/
Samples/HelloRectangle/Win32/
Samples/HelloRectangle/Shaders/
Samples/ToneMapping/Win32/
Samples/ToneMapping/Shaders/
*.db
*.opendb
*.opensdf
*.sdf
*.suo
*.user
RenderSDK/x64/
ipch/
Samples/ToneMapping/x64/
Samples/DynamicGI/x64/
Samples/HelloRectangle/x64/
.vs/
